body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXy6Q_b8CzbhvIh2OajVcqqUzy0Ep1a_d08Q&s');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 0.5s ease;
}

.cold-weather {
  background-image: url(./assets/hujan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 0.5s ease;
}

.cool-weather {
  background-image: url(./assets/hujan1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 0.5s ease;
}

.warm-weather {
 background-image: url(./assets/berawan.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 transition: background-color 0.5s ease;
}

.hot-weather {
  background-image: url(./assets/panas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 0.5s ease;
}
